<div class="pricing-section-three mt-250 mb-200 md-mt-150 md-mb-150">
    <img
        src="assets/images/deski/shape/107.svg"
        alt=""
        class="shapes shape-one"
    />
    <img
        src="assets/images/deski/shape/108.svg"
        alt=""
        class="shapes shape-two"
    />
    <img
        src="assets/images/deski/shape/109.svg"
        alt=""
        class="shapes shape-three"
    />
    <img
        src="assets/images/deski/shape/110.svg"
        alt=""
        class="shapes shape-four"
    />
    <img
        src="assets/images/deski/shape/111.svg"
        alt=""
        class="shapes shape-five"
    />
    <img
        src="assets/images/deski/shape/112.svg"
        alt=""
        class="shapes shape-six"
    />
    <div class="container">
        <div class="title-style-five text-center mb-50 md-mb-40">
            <h6>Our Pricing</h6>
            <div class="row">
                <div class="col-lg-9 m-auto">
                    <h2>Unbeatable prices, no contracts, simple & easy</h2>
                </div>
            </div>
        </div>

        <div class="pricing-table-area-three">
            <div class="row justify-content-center">
                <div
                    *ngFor="let item of pricingData"
                    class="col-lg-4 col-md-6"
                    data-aos="fade-up"
                    data-aos-duration="1200"
                    [attr.data-aos-delay]="item.delay"
                >
                    <div class="pr-table-wrapper skew-right">
                        <div class="pack-name pc1 font-slab">
                            <span>{{ item.title }}</span>
                        </div>
                        <div class="price font-slab">${{ item.price }}</div>
                        <p class="user-condition">per user/month</p>
                        <img
                            src="assets/images/deski/shape/114.svg"
                            alt=""
                            class="line"
                        />
                        <ul [innerHTML]="item.list"></ul>
                        <a
                            [routerLink]="['./']"
                            class="subscribe-btn font-rubik"
                            >Subscribe Now</a
                        >
                    </div>
                    <!-- /.pr-table-wrapper -->
                </div>
            </div>
        </div>
        <!-- /.pricing-table-area-three -->
    </div>
    <!-- ./container -->
</div>
