<div class="main-page-wrapper p0 font-gordita overflow-hidden">
  <app-header-fourteen></app-header-fourteen>
  <app-hero-banner-fourteen></app-hero-banner-fourteen>
  <app-feature-thirty></app-feature-thirty>
  <app-feature-thirty-one></app-feature-thirty-one>
  <app-counter-four></app-counter-four>
  <app-video-box-two></app-video-box-two>
  <app-feature-thirty-two></app-feature-thirty-two>
  <app-testimonial-eleven></app-testimonial-eleven>
  <app-feature-thirty-three></app-feature-thirty-three>
  <app-footer-seven [black_btn]="true"></app-footer-seven>
</div>
