<div class="hero-banner-nine lg-container">
    <img
        src="assets/images/deski/shape/190.svg"
        alt=""
        class="shapes bg-shape"
    />
    <div class="container">
        <div class="illustration-container">
            <img src="assets/images/deski/assets/screen_17.png" alt="" />
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="hero-heading">
                    Simplified
                    <span
                        >Scheduling
                        <img src="assets/images/deski/shape/189.svg" alt=""
                    /></span>
                    app for all.
                </h1>
                <p class="hero-sub-heading">
                    Deski is your hub for scheduling & meetings professionally
                    and efficiently.
                </p>
                <form #subForm="ngForm" (submit)="getFormData(subForm.value)">
                    <input
                        ngModel
                        type="email"
                        name="email"
                        placeholder="ihidago@ujufidnan.gov"
                    />
                    <button
                        class="d-flex justify-content-center align-items-center"
                    >
                        <img src="assets/images/deski/icon/119.svg" alt="" />
                    </button>
                </form>
                <p class="term-text">
                    Already using Deski?
                    <a [routerLink]="['/login']">Sign in.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="partner-slider-two mt-130 md-mt-100">
        <div class="container">
            <p>
                Simplified scheduling for more than
                <span>200,000,000</span> meetings
            </p>
            <div class="partnerSliderTwo">
                <swiper
                    [slidesPerView]="1"
                    [spaceBetween]="20"
                    [loop]="true"
                    [autoplay]="{
                        delay: 2500,
                        disableOnInteraction: false
                    }"
                    [breakpoints]="{
                        '0': {
                            slidesPerView: 2
                        },
                        '576': {
                            slidesPerView: 3
                        },
                        '768': {
                            slidesPerView: 4
                        },
                        '992': {
                            slidesPerView: 5
                        }
                    }"
                >
                    <ng-template
                        *ngFor="let logo of logoSliderData"
                        swiperSlide
                    >
                        <div class="item">
                            <div class="img-meta d-flex align-items-center">
                                <img [src]="logo.img" alt="" />
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
    <!-- /.partner-slider-two -->
</div>
