<div class="justify-center items-center m-auto">

    <fuse-card class="flex flex-col items-center max-w-80 w-full p-8 filter-info">
        <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600">
            <mat-icon
            class="icon-size-16 text-primary-500 dark:text-primary-300"
            [svgIcon]="'mat_solid:person_outline'"></mat-icon>
        </div>
        <!-- <div class="text-2xl font-semibold leading-tight text-center mt-6">Support</div> -->
    <div class=" mt-5 mb-5">
        <span> • Is your whole face visible? </span> <br>
        <span>• Is it in focus?  </span>
    
    </div>
    <!-- <div class=" mt-3"> • Is it in focus?    </div> -->
    <div class="h-13 mt-5">
        <a
    class="px-6 "
    mat-button
        [color]="'disabled'">
        Retake
    </a>
    <a
    class="p-2 "
    mat-flat-button
        [color]="'primary'"
        >
        Complete 
    </a>
    </div>
    <div class="mt-8 text-md font-medium text-secondary">
        <span>Return to</span>
        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">sign in
        </a>
    </div>
</fuse-card>


</div>