<div>
    <div class="fancy-text-block-twenty">
        <img
            src="assets/images/deski/shape/124.svg"
            alt=""
            class="shapes shape-one"
        />
        <img
            src="assets/images/deski/shape/125.svg"
            alt=""
            class="shapes shape-two"
        />
        <div class="container">
            <h1 class="title font-slab">About us</h1>
            <div class="fancy-video-box-one mb-130 md-mb-70">
                <img
                    src="assets/images/deski/media/img_65.png"
                    alt=""
                    class="main-img"
                />
                <button
                    data-bs-toggle="modal"
                    data-bs-target="#videoModal"
                    class="fancybox video-button d-flex align-items-center"
                >
                    <img src="assets/images/deski/icon/66.svg" alt="" />
                </button>
            </div>
            <!-- /.fancy-video-box-one -->

            <div class="row">
                <div
                    class="col-lg-5"
                    data-aos="fade-right"
                    data-aos-duration="1200"
                >
                    <div class="client-info font-rubik">
                        Over <span>150,000+ client</span>
                    </div>
                    <div class="title-style-five">
                        <h2>
                            <span>Best event</span><br />
                            & ticket platform platform.
                        </h2>
                    </div>
                </div>
                <div
                    class="col-lg-6 ms-auto"
                    data-aos="fade-left"
                    data-aos-duration="1200"
                >
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-mt-50">
                        <li *ngFor="let item of tab_content" class="nav-item">
                            <a
                                class="nav-link font-slab"
                                [ngClass]="item.active ? 'active' : ''"
                                data-bs-toggle="tab"
                                [href]="'#' + item.id"
                                >{{ item.title }}</a
                            >
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content mt-20">
                        <div
                            *ngFor="let item of tab_content"
                            class="tab-pane"
                            [ngClass]="item.active ? 'active' : 'fade'"
                            [id]="item.id"
                        >
                            <p class="font-rubik">{{ item.desc_1 }}</p>
                            <p class="font-rubik">{{ item.desc_2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- VideoModal start -->
    <app-video-modal
        videoUrl="https://www.youtube.com/embed/aXFSJTjVjw0"
    ></app-video-modal>
    <!-- VideoModal end -->
</div>
