<div
    [@fadeInOut]
    class="max-w-screen-xl mx-auto px-6 sm:px-8 flex justify-center items-center"
>
    <div class="flex flex-col gap-4 max-w-2/3">
        <h1 Class="text-4xl font-semibold">
            Which of the following is the name of the company in which you own insurance?
        </h1>

        <ul class="w-full">
            <form action="" class="grid w-full gap-6 md:grid-cols-3  grid-rows-6 "
            >
                <li *ngFor="let insurance of insuranceTypes">
                    <input
                        (change)="logSelectedEndowment($event.target.value)"
                        type="checkbox"
                        id="{{ insurance.title.trim() | lowercase }}"
                        value="{{ insurance.title | lowercase}}"
                        class="hidden peer"
                        name="insuranceType"
                    />
                    <label
                        for="{{ insurance.title.trim() | lowercase }}"
                        class="inline-flex items-center justify-between w-full h-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
                    >
                        <!-- <div class="flex flex-col"> -->
                            <!-- <div
                                class="w-8 h-8"
                                [innerHTML]="getSanitizedIcon(insurance.icon)"
                            ></div> -->

                            <div class=" text-lg font-semibold">
                                {{ insurance.title | titlecase }}
                            </div>
                            <!-- <div class="w-full text-sm">
                            A JavaScript library for building user interfaces.
                        </div> -->
                        <!-- </div> -->
                    </label>
                </li>
            </form>
        </ul>
    </div>
</div>
