<div>
    <div class="video-box-two lg-container mt-200 md-mt-100">
        <div class="container">
            <div class="video-meta position-relative" data-aos="fade-up">
                <img src="assets/images/deski/media/img_105.png" alt="" />
                <button
                    data-bs-toggle="modal"
                    data-bs-target="#videoModal"
                    class="fancybox video-icon d-flex align-items-center justify-content-center"
                    data-fancybox=""
                    href="https://www.youtube.com/embed/aXFSJTjVjw0"
                    tabindex="0"
                >
                    <img src="assets/images/deski/icon/148.svg" alt="" />
                </button>
            </div>
        </div>
    </div>
    <!-- VideoModal start -->
    <app-video-modal
        videoUrl="https://www.youtube.com/embed/aXFSJTjVjw0"
    ></app-video-modal>
    <!-- VideoModal end -->
</div>
