<div class="main-page-wrapper p0 font-gordita overflow-hidden">
  <app-header-twelve></app-header-twelve>
  <app-hero-banner-twelve></app-hero-banner-twelve>
  <app-counter-three></app-counter-three>
  <app-feature-twenty-six></app-feature-twenty-six>
  <app-feature-twenty-seven></app-feature-twenty-seven>
  <!-- <app-feature-twenty-eight></app-feature-twenty-eight> -->
  <!-- <app-testimonial-six></app-testimonial-six> -->
  <app-short-banner-eleven></app-short-banner-eleven>
  <app-footer-seven [black_btn]="true"></app-footer-seven>
</div>
