<div class="main-page-wrapper font-gordita dark-style lg-container overflow-hidden">
  <app-header-six></app-header-six>
  <app-hero-banner-six></app-hero-banner-six>
  <app-feature-eight></app-feature-eight>
  <app-feature-nine></app-feature-nine>
  <app-feature-ten></app-feature-ten>
  <app-portfolio-one></app-portfolio-one>
  <app-testimonial-five></app-testimonial-five>
  <app-pricing-two></app-pricing-two>
  <div class="overflow-hidden">
    <app-short-banner-five></app-short-banner-five>
    <app-footer-six></app-footer-six>
  </div>
</div>
