<div class="main-page-wrapper font-gordita overflow-hidden">
  <app-header-seven></app-header-seven>
  <app-hero-banner-seven></app-hero-banner-seven>
  <app-feature-eleven></app-feature-eleven>
  <app-feature-twelve></app-feature-twelve>
  <app-text-block-ten></app-text-block-ten>
  <app-feature-thirteen></app-feature-thirteen>
  <app-pricing-three></app-pricing-three>
  <app-testimonial-six></app-testimonial-six>
  <app-short-banner-six></app-short-banner-six>
  <app-footer-seven></app-footer-seven>
</div>
