<div class="main-page-wrapper p0 overflow-hidden">
  <!-- header start -->
  <app-header-three></app-header-three>
  <!-- header end -->

  <!-- hero start -->
  <div class="fancy-hero-four bg-event space-fix">
    <div class="bg-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-11 col-md-10 m-auto">
            <h6>Contact us</h6>
            <h2>Feel free to contact us or just say hi!</h2>
          </div>
        </div>
      </div>
    </div> <!-- /.bg-wrapper -->
  </div>
  <!-- hero end -->

  <!-- ContactStyle start  -->
  <app-contact-style></app-contact-style>
  <!-- ContactStyle end -->

  <!-- footer start -->
  <app-footer-two [contact]="true"></app-footer-two>
  <!-- footer end -->
</div>
