<div class="main-page-wrapper p0 overflow-hidden">
    <!-- header start -->
    <app-header-three></app-header-three>
    <!-- header end -->

    <!-- hero start -->
    <div class="fancy-hero-five">
        <img
            src="assets/images/deski/shape/95.svg"
            alt=""
            class="shapes shape-one"
        />
        <img
            src="assets/images/deski/shape/96.svg"
            alt=""
            class="shapes shape-two"
        />
        <div class="bg-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 m-auto text-center">
                        <h6 class="page-title">Our News</h6>
                        <h1 class="heading">
                            <span
                                >Our inside stories<img
                                    src="assets/images/deski/shape/line-shape-11.svg"
                                    alt=""
                            /></span>
                            lorem que
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.bg-wrapper -->
    </div>
    <!-- hero end -->

    <!-- blog area start -->
    <div class="blog-page-white-bg blog-v4">
        <div class="container">
            <div class="wrapper">
                <div
                    *ngFor="let blog of blogItems"
                    class="post-meta"
                    data-aos="fade-up"
                    data-aos-duration="1200"
                    [ngClass]="blog.text_post ? 'text-post' : ''"
                >
                    <img
                        *ngIf="blog.id !== 33"
                        [src]="blog.img"
                        alt=""
                        class="image-meta"
                    />
                    <div class="post">
                        <div class="date">{{ blog.date }}</div>
                        <h3>
                            <a
                                [routerLink]="['/blog-details/' + blog.id]"
                                class="title"
                            >
                                {{ blog.title }}
                            </a>
                        </h3>
                        <p>{{ blog.desc }}</p>
                        <a
                            [routerLink]="['/blog-details/' + blog.id]"
                            class="read-more"
                        >
                            <span>Continue Reading</span>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- /.post-meta -->

                <div class="page-pagination-two pt-30">
                    <ul
                        class="d-flex align-items-center justify-content-center"
                    >
                        <li class="arrow">
                            <a [routerLink]="['./']"
                                ><i class="flaticon-right-arrow"></i
                            ></a>
                        </li>
                        <li class="active"><a [routerLink]="['./']">1</a></li>
                        <li><a [routerLink]="['./']">2</a></li>
                        <li><a [routerLink]="['./']">3</a></li>
                        <li><a [routerLink]="['./']">4</a></li>
                        <li>...</li>
                        <li><a [routerLink]="['./']">Last</a></li>
                        <li class="arrow">
                            <a [routerLink]="['./']"
                                ><i class="flaticon-right-arrow"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.wrapper -->
        </div>
    </div>
    <!-- blog area end -->

    <!-- short banner start -->
    <app-short-banner-two [spacing]="true"></app-short-banner-two>
    <!-- short banner end -->

    <!-- footer start -->
    <app-footer-three></app-footer-three>
    <!-- footer end -->
</div>
