<div class="main-page-wrapper p0 font-gordita overflow-hidden">
  <app-header-thirteen></app-header-thirteen>
  <app-hero-banner-thirteen></app-hero-banner-thirteen>
  <app-feature-twenty-nine></app-feature-twenty-nine>
  <app-text-block-twelve></app-text-block-twelve>
  <app-feature-slider></app-feature-slider>
  <app-text-block-thirteen></app-text-block-thirteen>
  <app-integrated-apps></app-integrated-apps>
  <app-testimonial-ten></app-testimonial-ten>
  <app-pricing-six></app-pricing-six>
  <app-blog-area></app-blog-area>
  <app-short-banner-twelve></app-short-banner-twelve>
  <app-footer-nine></app-footer-nine>
</div>
