<div class="main-page-wrapper overflow-hidden">
  <app-header></app-header>
  <app-about-hero-three></app-about-hero-three>
  <app-text-block-seventeen></app-text-block-seventeen>
  <app-about-counter-three></app-about-counter-three>
  <app-text-block-eighteen></app-text-block-eighteen>
  <app-text-block-nineteen></app-text-block-nineteen>
  <app-about-team-three></app-about-team-three>
  <app-useable-tools [about_m]="true"></app-useable-tools>
  <app-about-blog-area></app-about-blog-area>
  <app-fancy-banner></app-fancy-banner>
  <app-footer></app-footer>
</div>
