<div [class]="ser_page ? 'pt-120 md-pt-100 pb-150 md-pb-100' : 'counter-info-standard pt-70 pb-45'" >
  <div class="container">
    <div class="row justify-content-center">

      <div *ngFor="let item of counterData" class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-duration="1200"
        [attr.data-aos-delay]="item.delay">
        <div class="counter-box-two">
          <h2 class="number"><span class="timer">{{item.value}}</span>{{item.text}}</h2>
          <em>{{item.title}}</em>
          <p>{{ item.subtitle }}</p>
        </div>
      </div>

    </div>
  </div>
</div>
