<div class="main-page-wrapper font-gordita overflow-hidden">
  <app-header-ten></app-header-ten>
  <app-hero-banner-ten></app-hero-banner-ten>
  <app-app-screen></app-app-screen>
  <app-feature-twenty-one></app-feature-twenty-one>
  <app-feature-twenty-two></app-feature-twenty-two>
  <app-app-screen-two></app-app-screen-two>
  <app-pricing-four></app-pricing-four>
  <app-testimonial-nine></app-testimonial-nine>
  <app-partners-two></app-partners-two>
  <app-short-banner-nine></app-short-banner-nine>
  <app-footer-seven [black_btn]="true"></app-footer-seven>
</div>
