/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mat-mdc-form-field.OTP-Completed  .mat-mdc-text-field-wrapper{
    border-width: 0 !important;
    box-shadow: none !important;
}
.relaionships-border-none-mate-select .mat-mdc-text-field-wrapper{

    border-width: 0 !important;
    background-color: whitesmoke !important;
    border: none !important;
}
.mat-mdc-table .mdc-data-table__row:not(.mdc-data-table__row--selected):hover{
    background-color: inherit;
}
