<div class="fancy-short-banner-seven mt-250 md-mt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-11 m-auto">
                <div class="title-style-six text-center">
                    <h2>
                        love our product? <span>Save $20</span> by grab it
                        today.
                    </h2>
                </div>
                <!-- /.title-style-six -->
                <a
                    [routerLink]="['./']"
                    class="d-flex align-items-center ios-button gr-bg-one hover-reverse-gr-bg-one"
                >
                    <img
                        src="assets/images/deski/icon/apple.svg"
                        alt=""
                        class="icon"
                    />
                    <div>
                        <span>Download on the</span>
                        <strong>App store</strong>
                    </div>
                </a>
            </div>
        </div>
        <div class="screen-meta js-tilt">
            <img
                src="assets/images/deski/assets/screen_10.png"
                alt=""
                class="m-auto"
            />
            <img
                src="assets/images/deski/shape/165.svg"
                alt=""
                class="shapes shape-four"
            />
            <img
                src="assets/images/deski/shape/166.png"
                alt=""
                class="shapes shape-five"
            />
        </div>
    </div>
    <!-- /.container -->
    <img
        src="assets/images/deski/shape/162.svg"
        alt=""
        class="shapes shape-one"
    />
    <img
        src="assets/images/deski/shape/163.svg"
        alt=""
        class="shapes shape-two"
    />
    <img
        src="assets/images/deski/shape/164.svg"
        alt=""
        class="shapes shape-three"
    />
</div>
