<div class="fancy-text-block-six mt-250 md-mt-130">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6"
                data-aos="fade-right"
                data-aos-duration="1200"
            >
                <div class="title-style-three mb-35">
                    <p>GET STARTED IN MINUTES</p>
                    <h2>
                        <span
                            >3 Main Reaosn to
                            <img
                                src="assets/images/deski/shape/line-shape-3.svg"
                                alt=""
                        /></span>
                        Choose us.
                    </h2>
                </div>

                <!-- Accordion Style Two -->
                <div id="accordionExample" class="accordion-style-two pe-5">
                    <div *ngFor="let item of faqData" class="accordion-item">
                        <div class="accordion-header" [id]="item.headingNum">
                            <h5 class="mb-0">
                                <button
                                    class="btn btn-link accordion-button"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    [attr.data-bs-target]="
                                        '#' + item.collapseNum
                                    "
                                    [attr.aria-expanded]="
                                        item.expanded ? 'true' : 'false'
                                    "
                                    [attr.aria-controls]="item.collapseNum"
                                >
                                    {{ item.btnText }}
                                </button>
                            </h5>
                        </div>
                        <div
                            [id]="item.collapseNum"
                            [class]="item.collapseClass"
                            [attr.aria-labelledby]="item.headingNum"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <p>{{ item.desc }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="img-meta-container"
        data-aos="fade-left"
        data-aos-duration="1200"
        data-aos-delay="100"
    >
        <img src="assets/images/deski/assets/feature-img-08.png" alt="" />
        <img
            src="assets/images/deski/shape/22.svg"
            alt=""
            class="shapes shape-one"
        />
        <img
            src="assets/images/deski/shape/23.svg"
            alt=""
            class="shapes shape-two"
        />
        <img
            src="assets/images/deski/shape/24.svg"
            alt=""
            class="shapes shape-three"
        />
        <img
            src="assets/images/deski/shape/25.svg"
            alt=""
            class="shapes shape-four"
        />
        <img
            src="assets/images/deski/shape/26.svg"
            alt=""
            class="shapes shape-five"
        />
        <img
            src="assets/images/deski/shape/27.svg"
            alt=""
            class="shapes shape-six"
        />
        <img
            src="assets/images/deski/shape/28.svg"
            alt=""
            class="shapes shape-seven"
        />
    </div>
</div>
