<div class="fancy-short-banner-fourteen mt-150 md-mt-80">
    <div class="container">
        <div class="row">
            <div class="col-12" data-aos="fade-up" data-aos-duration="1200">
                <div class="title-style-thirteen">
                    <h2>
                       Join the waitlist and <br /> benefit from the launch campaign!

                    </h2>
                </div>
                <p>Sign up for the waitlist today and be among the first to secure your legacy with confidence.</p>
                <a [routerLink]="['/register']" class="theme-btn-twelve"
                    >Let’s Get Started</a
                >
            </div>
        </div>
    </div>
    <!-- /.container -->
    <img
        src="assets/images/deski/shape/239.svg"
        alt=""
        class="shapes shape-one w-10 h-10 "
    />
    <img
        src="assets/images/deski/shape/240.svg"
        alt=""
        class="shapes shape-two w-10 h-10"
      />
    <img
        src="assets/images/deski/shape/232.svg"
        alt=""
        class="shapes shape-three w-10 h-10 "
    />
    <img
        src="assets/images/deski/shape/233.svg"
        alt=""
        class="shapes shape-four w-10 h-10"
    />
    <img
        src="assets/images/deski/shape/234.svg"
        alt=""
        class="shapes shape-five w-10 h-10"
    />
    <img
        src="assets/images/deski/shape/235.svg"
        alt=""
        class="shapes shape-six w-10 h-10"
      />
    <img
        src="assets/images/deski/shape/236.svg"
        alt=""
        class="shapes shape-seven  w-10 h-10"
    />
    <img
        src="assets/images/deski/shape/232.svg"
        alt=""
        class="shapes shape-eight w-10 h-10 "
    />
</div>
