<div
    [@fadeInOut]
    class="max-w-screen-xl mx-auto px-6 sm:px-8 flex justify-center items-center"
>
    <div class="flex flex-col gap-4 max-w-2/3">
        <div class="flex flex-col gap-2">
            <h1 Class="text-4xl font-semibold">
                Adding Premium and Coverage Amounts
            </h1>
            <p class="text-gray-500">
                Incorporate Premium and Coverage Amounts into your wealth
                portfolio for a complete financial view.
            </p>
        </div>

        <div class="flex flex-col gap-3">
            <div
                class="border-b border-b-gray-300 flex justify-between items-center py-5"
            >
                <h4>Premium Amount</h4>
                <div class="flex items-center gap-2">
                    <button
                        class="btn rounded-[50%] w-6 h-6 border border-gray-500"
                    >
                        -
                    </button>
                    <p>5000</p>
                    <button
                        class="btn rounded-[50%] w-6 h-6 border border-gray-500"
                    >
                        +
                    </button>
                </div>
            </div>
            <div
                class="border-b border-b-gray-300 flex justify-between items-center py-5"
            >
                <h4>Coverage Amount</h4>
                <div class="flex items-center gap-2">
                    <button
                        class="btn rounded-[50%] w-6 h-6 border border-gray-500"
                    >
                        -
                    </button>
                    <p>498</p>
                    <button
                        class="btn rounded-[50%] w-6 h-6 border border-gray-500"
                    >
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
