<div class="hero-banner-twelve " id="home">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 col-lg-12 col-md-10 m-auto text-center">
    <h1 class="hero-heading font-gordita">
        Building a secure future for your
        <span >legacy</span> with
        <span style="color: #0061fefa">eWasia</span>
    </h1>
    <p class="hero-sub-heading">
        Manage your assets, plan your legacy, and ensure a seamless transfer
        with eWasia's comprehensive solution.
    </p>
    <!-- <a [routerLink]="['./']" class="get-start-btn"
        >Get Started for free
        <i class="fa fa-angle-right ms-1" aria-hidden="true"></i
    ></a> -->
</div>
        </div>

        <div class="screen-holder">
            <img
            src="assets/images/deski/screenshot/Screenshot-1.png"
            alt=""
            class="img-meta"
        />
            <img
                src="assets/images/deski/screenshot/screenshot-8.png"
                alt=""
                class="shapes screen-one"
            />
            <img
            src="assets/images/deski/screenshot/screenshot-2.png"

                alt=""
                class="shapes screen-two"
            />
            <img
                src="assets/images/deski/shape/230.svg"
                alt=""
                class="shapes shape-one"
            />
            <img
                src="assets/images/deski/shape/231.svg"
                alt=""
                class="shapes shape-two"
            />
        </div>
        <!-- /.screen-holder -->
    </div>
    <img
        src="assets/images/deski/shape/232.svg"
        alt=""
        class="shapes w-3 h-3 shape-three"
    />
    <img
        src="assets/images/deski/shape/233.svg"
        alt=""
        class="shapes w-3 h-3 shape-four"
    />
    <img
        src="assets/images/deski/shape/234.svg"
        alt=""
        class="shapes w-3 h-3 shape-five"
    />
    <img
        src="assets/images/deski/shape/235.svg"
        alt=""
        class="shapes w-3 h-3 shape-six"
    />
    <img
        src="assets/images/deski/shape/236.svg"
        alt=""
        class="shapes w-3 h-3 shape-seven"
    />
    <img
        src="assets/images/deski/shape/232.svg"
        alt=""
        class="shapes w-3 h-3 shape-eight"
    />
</div>
