<div class="faq-section">
  <div class="container">
    <div class="title-style-two text-center mb-100 md-mb-80">
      <p>FAQ</p>
      <h2>Question & Answer</h2>
    </div> <!-- /.title-style-one -->

    <div class="row">
      <div class="col-xl-9 col-lg-10 m-auto" data-aos="fade-up" data-aos-duration="1200">
        <div id="accordionExample" class="accordion-style-three">

          <div *ngFor="let item of faqData" class="accordion-item">
            <div class="accordion-header" [id]="item.headingNum">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#' + item.collapseNum"
                  [attr.aria-expanded]="item.expanded ? 'true' : 'false'"
                  [attr.aria-controls]="item.collapseNum">
                  {{ item.btnText }}
                </button>
              </h5>
            </div>
            <div [id]="item.collapseNum" [class]="item.collapseClass"
            [attr.aria-labelledby]="item.headingNum"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  {{ item.desc }}
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!--  /.row -->

    <div class="text-center more-faq-meta mt-75 md-mt-50" data-aos="fade-up" data-aos-duration="1200">
      <h3 class="mb-35 font-rubik">Don’t find your answer?</h3>
      <a [routerLink]="['/contact-us-cs']">Contact us</a>
    </div>
  </div>
</div>
