<div class="main-page-wrapper font-gordita overflow-hidden">
  <app-header-eleven></app-header-eleven>
  <app-hero-banner-eleven></app-hero-banner-eleven>
  <app-feature-twenty-three></app-feature-twenty-three>
  <app-feature-twenty-four></app-feature-twenty-four>
  <app-video-box></app-video-box>
  <app-text-block-eleven></app-text-block-eleven>
  <app-useable-tools-four></app-useable-tools-four>
  <app-feature-twenty-five></app-feature-twenty-five>
  <app-pricing-five></app-pricing-five>
  <app-faq-three></app-faq-three>
  <app-short-banner-ten></app-short-banner-ten>
  <app-footer-seven [black_btn]="true"></app-footer-seven>
</div>
