<div>
    <div
        class="fancy-feature-twentyEight lg-container pt-150 mt-50 md-pt-70"
        id="story"
    >
        <div class="container">
            <div class="row">
                <div class="col-xl-11 m-auto" data-aos="fade-up">
                    <div class="title-style-twelve text-center pb-80 md-pb-30">
                        <div class="upper-title">Customer Stories</div>
                        <h2>
                            <span
                                >1,000,000+
                                <img
                                    src="assets/images/deski/shape/line-shape-13.svg"
                                    alt=""
                            /></span>
                            organizations are already becoming more agreeable.
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div
                    *ngFor="let item of featureData; let i = index"
                    class="col-lg-6 mt-40"
                    data-aos="fade-up"
                    [attr.data-aos-delay]="item.delay"
                >
                    <div
                        class="block-style-twentyNine"
                        [style]="{ background: item.bg_color }"
                    >
                        <div class="logo"><img [src]="item.logo" alt="" /></div>
                        <button
                            data-bs-toggle="modal"
                            data-bs-target="#videoModal"
                            class="fancybox d-flex video-icon tran3s"
                            tabindex="0"
                        >
                            <img
                                src="assets/images/deski/icon/152.svg"
                                alt=""
                            />
                        </button>
                        <h3>
                            <a [routerLink]="['/blog-details']">{{
                                item.title
                            }}</a>
                        </h3>
                        <a
                            [routerLink]="['/blog-details']"
                            class="read-more-btn d-flex justify-content-between align-items-center w-100"
                        >
                            <span>Continue Reading</span>
                            <img
                                src="assets/images/deski/icon/153.svg"
                                alt=""
                            />
                        </a>
                    </div>
                </div>
                <!-- VideoModal start  -->
                <app-video-modal
                    videoUrl="https://www.youtube.com/embed/aXFSJTjVjw0"
                ></app-video-modal>
                <!-- VideoModal end  -->
            </div>

            <div class="text-center mt-80 md-mt-50">
                <a [routerLink]="['./']" class="theme-btn-ten"
                    >Read all customer stories
                    <i class="fa fa-chevron-right" aria-hidden="true"></i
                ></a>
            </div>
        </div>
    </div>
</div>
