<div>
    <div class="hero-banner-five">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-11 col-md-10 m-auto">
                    <h1 class="font-recoleta hero-heading">
                        Build your <span>Product</span> with Deski pro app.
                    </h1>
                    <p class="hero-sub-heading">
                        Deski delivered blazing fast performance, striking word
                        soludtion
                    </p>
                </div>
            </div>
            <div
                class="d-sm-flex align-items-center justify-content-center button-group"
            >
                <a
                    [routerLink]="['./']"
                    class="d-flex align-items-center ios-button"
                >
                    <img
                        src="assets/images/deski/icon/apple.svg"
                        alt=""
                        class="icon"
                    />
                    <div>
                        <span>Download on the</span>
                        <strong>App store</strong>
                    </div>
                </a>
                <a
                    [routerLink]="['./']"
                    class="d-flex align-items-center windows-button"
                >
                    <img
                        src="assets/images/deski/icon/windows.svg"
                        alt=""
                        class="icon"
                    />
                    <div>
                        <span>Get it on</span>
                        <strong>Windows pc</strong>
                    </div>
                </a>
            </div>
            <p class="sing-in-call">
                Different Platform?
                <a
                    [routerLink]="['./']"
                    data-bs-toggle="modal"
                    data-bs-target="#contactModal"
                    >Contact us</a
                >
            </p>
        </div>

        <div class="img-gallery">
            <div class="container text-center">
                <div class="screen-container">
                    <img
                        src="assets/images/deski/assets/screen_01.png"
                        alt=""
                        class="main-screen"
                    />
                    <img
                        src="assets/images/deski/assets/screen_01.1.png"
                        alt=""
                        class="shapes screen-one"
                    />
                    <img
                        src="assets/images/deski/assets/screen_01.2.png"
                        alt=""
                        class="shapes screen-two"
                    />
                </div>
                <!-- /.screen-container -->
            </div>
        </div>
        <!-- /.img-gallery -->
        <img
            src="assets/images/deski/shape/133.svg"
            alt=""
            class="shapes shape-one"
        />
        <img
            src="assets/images/deski/shape/134.svg"
            alt=""
            class="shapes shape-two"
        />
        <img
            src="assets/images/deski/shape/135.svg"
            alt=""
            class="shapes shape-three"
        />
        <img
            src="assets/images/deski/shape/136.svg"
            alt=""
            class="shapes shape-four"
        />

        <div class="partner-slider-two mt-110 md-mt-80">
            <div class="container">
                <p class="text-center">
                    Over <span>32K+</span> software businesses growing with
                    Deski.
                </p>
                <div class="partnerSliderTwo">
                    <swiper
                        [slidesPerView]="1"
                        [spaceBetween]="30"
                        [loop]="true"
                        [autoplay]="{
                            delay: 2500,
                            disableOnInteraction: false
                        }"
                        [breakpoints]="{
                            '0': {
                                slidesPerView: 2
                            },
                            '576': {
                                slidesPerView: 3
                            },
                            '768': {
                                slidesPerView: 4
                            },
                            '992': {
                                slidesPerView: 5
                            },
                            '1200': {
                                slidesPerView: 6
                            }
                        }"
                    >
                        <ng-template
                            *ngFor="let item of logoSliderData"
                            swiperSlide
                        >
                            <div class="item">
                                <div
                                    class="img-meta d-flex align-items-center justify-content-center"
                                >
                                    <img [src]="item.img" alt="" />
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <!-- /.partner-slider-two -->
    </div>

    <app-contact-modal></app-contact-modal>
</div>
