<div>
    <div class="flex flex-col flex-auto">

        <div
            class="flex flex-col sm:flex-row items-end sm:items-center sm:justify-between p-3  sm:py-4 md:px-8 border-b bg-card dark:bg-transparent">
            <!-- Title -->

            <!-- Actions -->

            <div class="mt-4 sm:mt-0 ">
                <!-- Upload button -->
                <div class="">
                    <mat-form-field
                        class="fuse-mat-rounded fuse-mat-dense w-90"
                        [subscriptSizing]="'dynamic'">
                        <mat-icon
                            matPrefix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                        <input
                            matInput
                            [autocomplete]="'off'"
                            [placeholder]="'Search or start new chat'"

                            >
                    </mat-form-field>
                </div>
            </div>
            <div class="mt-4 sm:mt-0 ">
                <!-- Upload button -->
                <!-- <button mat-flat-button [color]="'primary'" for="uploadFi" >
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Upload file</span>
                </button> -->
                <label for="uploadFi" class="bg-primary p-2 font-bold rounded text-white  " >
                    <!-- <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> -->
                    <!-- <mat-icon class="pt-4 text-white ">add</mat-icon> -->
                    <span class="ml-2 mr-1">Upload file</span>
                </label>
                <input type="file" (change)="uploadFile($event)" hidden id="uploadFi" [placeholder]="'Upload file'">
                <!-- <button (click)="openDialog()">Add File</button> -->
            </div>
        </div>
        <ng-container>
                    <div class="p-6 md:p-8 space-y-8">
                        <!-- Folders -->


                        <!-- Files -->
                        <ng-container >
                            <div>
                                <div class="font-medium">Files</div>
                                <div
                                    class="flex flex-wrap -m-2 mt-1">


                                    <ng-container >
                                        <a
                                            class="flex flex-col w-40 h-40 m-1  shadow rounded-2xl cursor-pointer bg-card" *ngFor="let file of files"
                                           >
                                           <div class="flex flex-row-reverse ">
                                               <button mat-icon-button [matMenuTriggerFor]="fileMenu" >
                                                   <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:ellipsis-vertical'" ></mat-icon>

                                               </button>
                                               <mat-menu #fileMenu="matMenu">
                                                   <button mat-menu-item >Share</button>
                                               <button mat-menu-item >View</button>

                                           </mat-menu>
                                       </div>
                                            <div class="  ">


                                                <div class="flex items-center justify-center h-full" style="margin-bottom:-2rem ;">
                                                    <!-- Icons -->
                                                    <div class="relative">
                                                        <mat-icon matListItemIcon class="icon-size-14 text-hint opacity-50">description</mat-icon>

                                                        <!-- <div
                                                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                            [class.bg-red-600]="file.type === 'PDF'"
                                                            [class.bg-blue-600]="file.type === 'DOC'"
                                                            [class.bg-green-600]="file.type === 'XLS'"
                                                            [class.bg-gray-600]="file.type === 'TXT'"
                                                            [class.bg-amber-600]="file.type === 'JPG'">
                                                            {{file.type.toUpperCase()}}
                                                        </div> -->
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                <div matListItemTitle>{{file.name}}</div>
                                                <ng-container >
                                                    <div matListItemLine>{{file.updated | date}}</div>
                                                </ng-container>
                                            </div>
                                        </a>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
    </div>
</div>


<ng-template #fileDialog>
    <h2 mat-dialog-title>Upload File</h2>
    <mat-dialog-content>
      <input type="file" (change)="uploadFile($event)">
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancel</button>

    </mat-dialog-actions>
  </ng-template>

