<div class="main-page-wrapper font-gordita overflow-hidden">
  <app-header-eight></app-header-eight>
  <app-hero-banner-eight></app-hero-banner-eight>
  <app-feature-fourteen></app-feature-fourteen>
  <app-feature-fifteen></app-feature-fifteen>
  <app-feature-sixteen></app-feature-sixteen>
  <app-feature-seventeen></app-feature-seventeen>
  <app-testimonial-seven></app-testimonial-seven>
  <app-short-banner-seven></app-short-banner-seven>
  <app-footer-seven [black_btn]="true"></app-footer-seven>
</div>
